#mainProduct .mproduct-card img:hover {
   transform: scale(.7);
   background: white  ;
   filter: grayscale(0);
}

 .mproduct-card-sakura img:hover {
   transform: scale(.7); 
   box-shadow: 0px 0px 10px black, 0px 0px 40px black, 0px 0px 80px black; 
}
