#mainProduct .mproduct-card img:hover {
   transform: scale(.7);
   background: #000000  ;
   filter: grayscale(0);
   /* box-shadow: 0px 0px 20px #2196f3, 0px 0px 40px #2196f3, 0px 0px 80px #2196f3;  */
}

#mainProduct .mproduct-card.whiteseries2 img:hover {
    transform: scale(.7);
    background: #000000;
    filter: grayscale(0)
    /* box-shadow: 0px 0px 10px purple, 0px 0px 10px rgb(173, 68, 173), 0px 0px 80px rgb(173, 69, 173);  */
 
 }

 #mainProduct .mproduct-card.whiteseries3 img:hover {
    transform: scale(.7); 
    background: #000000;
    filter: grayscale(0)
    /* box-shadow: 0px 0px 10px rgb(140, 255, 190), 0px 0px 40px rgb(140, 255, 190), 0px 0px 80px rgb(131, 255, 185);  */
 }

 .mproduct-card-sakura img:hover {
   transform: scale(.7); 
   background: #ffffff;
   /* box-shadow: 0px 0px 10px black, 0px 0px 40px black, 0px 0px 80px black;  */

}

/* .mproduct-card-sakura2 img:hover {
   transform: scale(.7); 
   background: #ffffff;
   box-shadow: 0px 0px 10px black, 0px 0px 40px black, 0px 0px 80px black; 

}

.mproduct-card-sakura3 img:hover {
   transform: scale(.7); 
   background: #ffffff;
   box-shadow: 0px 0px 10px black, 0px 0px 40px black, 0px 0px 80px black; 

} */
