.navigation-container .nav-menu a:hover {
   color: rgb(0, 0, 0);
}

.navigation-container .nav-menu a::after {
   content: '';
   display: block;
   border-bottom: solid 1px rgb(0, 0, 0);
   transform:scaleX(0);
   transition: 0.4s linear;
}

.navigation-container .nav-menu a:hover::after {
   color: rgb(0, 0, 0);
   transform:scaleX(1)
}

#mainProduct .mproduct-card img:hover {
   transform: scale(.7);
   background: white  ;
   filter: grayscale(0);
}

 .mproduct-card-sakura img:hover {
   transform: scale(.7); 
   box-shadow: 0px 0px 10px black, 0px 0px 40px black, 0px 0px 80px black; 
}
