
.navigation-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px black;
}

.navigation-container .nav-menu {
    display: flex;
    justify-content: space-evenly;
    display: none;
}

.navigation-container .logo a {
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-size: 2rem;
}

.navigation-container .logo span {
    text-decoration: none;
    list-style-type: none;
    color: teal;
    font-size: 2rem;
}

.navigation-container .nav-menu a {
    text-decoration: none;
    list-style-type: none;
    padding: 0px 15px;
    letter-spacing: 1px;
    color: black;
    transition: 0.5s ease;

}

.navigation-container .nav-menu a:hover {
    color: rgb(0, 0, 0);
}

.navigation-container .nav-menu a::after {
    content: '';
    display: block;
    border-bottom: solid 1px rgb(0, 0, 0);
    transform:scaleX(0);
    transition: 0.4s linear;
}

.navigation-container .nav-menu a:hover::after {
    color: rgb(0, 0, 0);
    transform:scaleX(1)
}

.navigation-container .hamburger {
    display: block;
}

.navigation-container .hamburger button {
    background: transparent;
    border: 0px;
}
/* Navigation Line */


.banner-container {
    width: 100%;
    margin-top: 10px;
}

.banner-container img {
    width: 100%;
    height: 600px;
}


/* Banner Line */

.news-arrival {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.newarrival-container {
    display: grid;
    grid-template-rows: 220px 220px;
    grid-template-columns:repeat(6,1fr);
    gap: 10px;
    margin: 0px 10%;
}

.newarrival-container .narrival-card1 {
    grid-row: 1;
    grid-column: 1/2 span;
}

.newarrival-container .narrival-card1 img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.newarrival-container .narrival-card2{
    grid-row: 2;
    grid-column: 1/2 span;
}

.newarrival-container .narrival-card2 img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.newarrival-container .narrival-card3{
    grid-row: 1/2 span;
    grid-column:2 span;
    background:url(Asset/download.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.newarrival-container .narrival-card4{
    grid-row: 1;
    grid-column: 5/6 span;
}

.newarrival-container .narrival-card4 img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.newarrival-container .narrival-card5{
    grid-row: 2;
    grid-column: 5/6 span;
}

.newarrival-container .narrival-card5 img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

/* News & Arrival line */

.mainproduct-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    height: auto;
    background-color: rgb(255, 255, 255);
    align-items: center;
    background-color: rgb(0, 0, 0);
    
}

.mainproduct-title {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.typeproduct {
    text-align: center;
    font-family: 'Poppins', sans-serif; 
}

.mproduct-card-whiteseries1 {
    width: 100%;
    height: auto;
}

.mproduct-card-whiteseries1 img {
    width: 100%;
    height: auto;
    transition: .3s;
    cursor: pointer;

}

.mproduct-card-whiteseries2 {
    width: 100%;
    height: auto;
}

.mproduct-card-whiteseries2 img {
    width: 100%;
    height: auto;
    transition: .3s;
    cursor: pointer;

}

.mproduct-card-whiteseries3 {
    width: 100%;
    height: auto;
}

.mproduct-card-whiteseries3 img {
    width: 100%;
    height: auto;
    transition: .3s;
    cursor: pointer;

}

.mainproduct-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    height: auto;
    background-color: rgb(255, 255, 255);
    align-items: center;
    
}


.mproduct-card-sakura1 {
    width: 100%;
    height: auto;
}

.mproduct-card-sakura1 img {
    width: 100%;
    height: auto;

}

.mproduct-card-sakura2 {
    width: 100%;
    height: auto;
}

.mproduct-card-sakura2 img {
    width: 100%;
    height: auto;

}

.mproduct-card-sakura3 {
    width: 100%;
    height: auto;
}

.mproduct-card-sakura3 img {
    width: 100%;
    height: auto;

}





